@charset "utf-8";
@import "theme-variables";

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-height: 400px;
  max-width: 400px;
}

.dark {
  main {
    background: var(--electric-blue);
  }
}

main {
  margin: 90px 0px auto;
}

.featured-image {
  border-radius: 6px;
}

// ================ Header ======================
// ==============================================
nav.navbar {
  position: fixed;
  width: 100%;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 5;
  top: 0;
  left: 0;
  border-bottom: 4px solid var(--electric-blue);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo {
  max-width: 75px;
}

#theme-toggle {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--sleep);
}

// ================ Footer ======================
// ==============================================
footer {
  color: var(--white);
  background: var(--electric-blue);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    margin-bottom: 0;
  }
  //bulma override
  .subtitle {
    color: inherit;
  }
  .subtitle:not(:last-child) {
    margin: 0;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  a {
    display: flex;
    color: inherit;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
  }
}

// ================ Image Loading ===============
// ==============================================
.smooth-image-placeholder {
  background: $beige-lighter;
  max-height: 500px;
  max-width: 500px;
}
.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
