@charset "utf-8";
@import "theme-variables";

// ================ Site Defaults ======================
// ==============================================

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--black);
  transition: color 1.4s linear, backgroud 1.4s linear;
  &.dark {
    background: var(--black);
    color: var(--ice);
  }
  &.light {
    background: var(--ice);
    color: var(--black);
    .inner-container {
      background: var(--ice);
      color: var(--black);
    }
    .project-links-inner {
      background: var(--ice);
      color: var(--black);
    }
    .bottom-right:after {
      border-top: 150px solid var(--ice);
      border-left: 150px solid var(--ice);
    }

    .top-left:after {
      border-bottom: 150px solid var(--ice);
      border-right: 150px solid var(--ice);
    }
  }
}

img {
  max-height: 120px;
  max-width: 120px;
  @media screen and (min-width: 900px) {
    max-height: 200px;
    max-width: 200px;
  }
}

.headshot {
  display: none;
  @media screen and (min-width: 900px) {
    display: block;
  }
}

// ================ Main Container ======================
// ==============================================

#root {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  // width: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.main-container-inner {
  width: 100vw;
  max-width: 1280px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  display: flex;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 0.3s;

  @media screen and (min-width: 900px) {
    max-height: 791px;
    height: 100vh;
  }
}

.main-container {
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner-container {
  padding: 30px;
  background: var(--black);
  z-index: 2;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-basis: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  h1 {
    font-size: 30px;
    font-weight: 100;
  }
}

// ================ Featured Projects ======================
// ==============================================

.projects-overview {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  min-height: calc(100% - 80px);
  height: calc(100% - 80px);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  transform: translateZ(0);
  padding-left: 0px;
  @media screen and (min-width: 900px) {
    min-height: calc(100% - 102px);
    height: calc(100% - 102px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
  }
}

.spacer {
  flex: 0;
  max-width: 130px;
  min-width: 90px;
  @media screen and (min-width: 900px) {
    flex: 1;
  }
}

.project {
  display: flex;
  flex-direction: column;
}

.main-message {
  position: relative;
  flex: 1;
  flex-basis: 53.4752%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    @media screen and (min-width: 900px) {
      margin-top: 60px;
      margin-bottom: 30px;
    }
  }
}

.welcome-message {
  opacity: 1;
  transform-origin: 0;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform: scaleX(1);
}

.hide-welcome-message {
  transform: scaleX(0);
  opacity: 0;
}

.message-border {
  margin-left: 30px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.6;
  display: block;
  position: relative;
  &:after {
    content: " ";
    width: 2px;
    background: linear-gradient(
      0deg,
      var(--electric-blue) 0%,
      var(--yellow) 100%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
  }
}

// ================ Project Links ======================
// ==============================================
.project-links {
  flex: 1;
  position: relative;
  @media screen and (min-width: 900px) {
    flex-basis: 30.9017%;
  }
}

.project-links-wrapper {
  position: relative;
  &:before {
    content: " ";
    width: 90px;
    height: 90px;
    background: linear-gradient(
      135deg,
      var(--electric-blue) 0%,
      var(--yellow) 50%,
      var(--electric-blue) 100%
    );
    opacity: 1;
    border-top-left-radius: 8px;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: -2px;
  }
}

.project-links-inner {
  position: relative;
  z-index: 1;
  background: var(--black);
  padding: 30px 30px 0;
  border-top-left-radius: 7px;
  > div:not(:last-child) {
    margin-bottom: 15px;
  }
}

.project-link {
  span {
    position: relative;
    cursor: pointer;
    transition: letter-spacing 0.3s ease-in-out;
    &:hover {
      letter-spacing: 1px;
    }
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: linear-gradient(
        270deg,
        var(--electric-blue) 0%,
        var(--yellow) 100%
      );
      display: inline-block;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
    }
  }
}

// ================ Opening Animation ======================
// ==============================================
.isLoaded {
  // width: 100%;
  // animation-name: expandMainContainer;
  // animation-duration: 1s;
  // animation-timing-function: cubic-bezier(0.2, -1, 0.8, 1);
  // padding: 20px;
  .main-container-inner {
    opacity: 1;
  }
}
@keyframes expandMainContainer {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100vh;
  }
}

// ================ Project Styles ======================
// ==============================================
.project {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: scaleX(0);
  transition: opacity, transform 0.2s linear;
  transform-origin: 100%;
  &.show-project {
    transform: scaleX(1);
  }
}

// ================ SVG Borders ======================
// ==============================================
.border {
  position: absolute;
  // background: var(--electric-blue);
  background: linear-gradient(
    135deg,
    var(--electric-blue) 0%,
    var(--yellow) 50%,
    var(--electric-blue) 100%
  );
  height: 300px;
  width: 300px;
  &:after {
    content: "";
    position: absolute;
  }
}

.top-left {
  top: 0;
  left: 0;
  &:after {
    border-bottom: 150px solid var(--black);
    border-right: 150px solid var(--black);
    border-top: 150px solid transparent;
    border-left: 150px solid transparent;
  }
}

.bottom-right {
  bottom: 0;
  right: 0;
  &:after {
    border-top: 150px solid var(--black);
    border-left: 150px solid var(--black);
    border-bottom: 150px solid transparent;
    border-right: 150px solid transparent;
  }
}

// ================ Header ======================
// ==============================================
.navbar {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-logo {
  max-width: 75px;
}

#theme-toggle {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--sleep);
}

// ================ Footer ======================
// ==============================================
footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  h2 {
    font-size: 24px;
    font-weight: 100;
    @media screen and (min-width: 900px) {
      margin: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  a {
    display: flex;
    color: inherit;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    }
  }
}

// ================ Image Loading ===============
// ==============================================
.smooth-image-placeholder {
  background: $beige-lighter;
  max-height: 500px;
  max-width: 500px;
}
.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
